* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
}


body {
    width: 100%;
    height: 100%;
    background-image: url(https://api.btstu.cn/sjbz/?lx=dongman);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-size: 0;
}

ul,
li {
    list-style: none;
    display: inline;
    white-space: nowrap;
    text-align: center;
}

a {
    text-decoration: none;
}

.box {
    margin: 0 auto;
    background-size: cover;
    min-width: 900px;
    height: 90%;
    width: 70%;
    border-radius: 0 0 1% 1%;
    /*opacity: 0.9;*/
    position: relative;
    background-image: linear-gradient(357deg, #a1c4fd 0%, #c2e9fb 100%);
}
.h-logo{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
}
.logo {
    width: 258px;
}

.header {
    height: 40px;
    width: 40%;
    position: fixed;

}

.item {
    width: 60px;
    margin-left: 10px;
    font-size: 18px;
}


#palybox {
    width: 100%;
    height: 500px;
    opacity: 1 !important;
}

/*输入input样式*/



.url-box {
    padding: 5px 5px;
    z-index: 1;
    text-align: center;
}
.input-group{
    position: relative;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    z-index: 100;
}
.form-control {
    width: 443px;
    height: 16px;
    padding: 14px 16px;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    background: #fff;
    color: #222;
    overflow: hidden;
    box-sizing: content-box;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;
}
.input-group-add,.input-group-btn,.input-group-play{
    width: 108px;
    height: 44px;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.select-btn,.btn,.btn-play{
    
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    padding: 0;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0;
}
.select-btn{
    color: #000;
    border: 0.1px solid whitesmoke;
}
.btn{
    background-color: #4e6ef2;
}

.url-text:focus {
    
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.btn-play {
    border-radius: 0 10px 10px 0;
    background: -webkit-linear-gradient(left, #19c3ff, #0093ff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #19c3ff, #0093ff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #19c3ff, #0093ff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #19c3ff, #0093ff);
    /* 标准的语法 */
}

.title-tit{
    color: #000;
    font-size: 13px;
    
}

.col-lg-12 {
    -webkit-text-size-adjust: 100%;
    line-height: 18px;
    color: #676a6c;
    box-sizing: border-box;
    font-family: Arial, "Microsoft Yahei", sans-serif, 宋体;
    height: 352px;
}

.row {
    -webkit-text-size-adjust: 100%;
    margin-left: 3.5%;
    color: #676a6c;
    box-sizing: border-box;
    font-family: Arial, "Microsoft Yahei", sans-serif, 宋体;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);


}

.col-xs-4 {
    -webkit-text-size-adjust: 100%;
    line-height: inherit;
    font-size: 13px;
    color: #676a6c;
    box-sizing: border-box;
    font-family: Arial, "Microsoft Yahei", sans-serif, 宋体;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    float: left;
    width: 16%;
    margin-bottom: 1rem;
}

.logo-lie {
    -webkit-text-size-adjust: 100%;
    line-height: inherit;
    box-sizing: border-box;
    font-family: Arial, "Microsoft Yahei", sans-serif, 宋体;
    margin: 0 auto;
    padding: auto;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #fff;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    transition: border linear .2s, box-shadow linear .2s;
    background-color: #e1f2ff;
}

.logo-lie a {
    text-align: center;
}

.logo-box>.container>.row>.col-xs-4 {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.logo-box>.container>.row>.col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.logo-lie:hover {
    -webkit-box-shadow: #b2bbad 0px 10px 10px;
    -moz-box-shadow: #92f5b3 0px 10px 10px;
    box-shadow: #91f56a 0px 10px 10px;
}
/*hr{
    display: block;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #0093ff;

}*/

.code-play {
    position: absolute;   
    left: 110px;  
    top: 0;
    display: none;  
}
.code-play {     
    display: block;   
}
.f-link{
    margin-top: 10px;  
    
}

.footer,.f-link {
    font-size: 16px;
    z-index: 99999;
    text-align: center;
    position: relative;

}

a:link {
    color: rgb(14, 14, 249);
    text-decoration: none;
}

a:active {
    color: red;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
}

.footer .scroll {
    background: url(https://raw.githubusercontent.com/tomowowowo/volimte/main/imgs/span.gif) center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    /*background-color: rgba(216, 16, 109,0.6); */
    position: absolute;
    left: 5%;
    z-index: 10;
    animation: scrollA infinite 30s linear alternate;
}

.footer .scroll2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    /*background-color: rgba(216, 16, 109,0.6); */
    position: absolute;
    left: 5%;
    z-index: 15;
    animation: scrollA infinite 20s linear alternate;
}

@keyframes scrollA {
    0% {
        left: 5%;
        transform: rotate(180deg);
    }

    ;

    10% {
        left: 5%;
        transform: rotate(270deg);
    }

    20% {
        left: 5%;
        transform: rotate(450deg);
    }

    25% {
        left: 10%;
        transform: rotate(540deg);
    }

    30% {
        left: 20%;
        transform: rotate(720deg);
    }

    35% {
        left: 30%;
        transform: rotate(900deg);
    }

    40% {
        left: 40%;
        transform: rotate(1080deg);
    }

    45% {
        left: 50%;
        transform: rotate(1260deg);
    }

    50% {
        left: 60%;
        transform: rotate(1440deg);
    }

    55% {
        left: 70%;
        transform: rotate(1620deg);
    }

    60% {
        left: 80%;
        transform: rotate(1800deg);
    }

    80% {
        left: 90%;
        transform: rotate(2610deg);
    }

    90% {
        left: 90%;
        transform: rotate(2340deg);
    }

    100% {
        left: 90%;
        transform: rotate(2520deg);
    }

}

.tj_51 {
    height: 16px;
    border-radius: 3%;
}